<div class="container">
    <h1 style="color:rgb(204, 50, 199)">As of January 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!</h1>
</div>


<div class="container">
    <h2>We the undersigned demand that The Office be streamed on Netflix</h2>
</div>


<div class="container">
<img src="https://i.gifer.com/origin/85/85524a0f267000d0898f582576ac96c1.gif" width=480 height=270.880 ></img>
</div>


{{#allCityInfo}}
<div class="box">
    <p><a href="/signers/{{city}}" target="_blank">{{first_name}} {{last_name}}</a> {{age}} {{city}}</p>
</div>
{{/allCityInfo}}


