
<h1 class="container" style="color:rgb(204, 50, 199)">You can edit your profile!!!</h1>

<div class="container">
    <h2>As of March 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> </h2>
</div>



<form method='POST'>
{{#allEditInfo}}
<input type='text' name='first' autocomplete='off' value="{{first_name}}">
<input type='text' name='last' autocomplete='off' value="{{last_name}}">
<input type='text' name='email' autocomplete='off' value="{{email}}">
<input type='text' name='password' autocomplete='off' value="{{password}}">
<input type='text' name='age' autocomplete='off' value="{{age}}">
<input type='text' name='city' autocomplete='off' value="{{city}}">
<input type='text' name='homepage' autocomplete='off' value="{{url}}">
{{/allEditInfo}}
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<div>            
<button class="click" type='submit' name="accept">UPDATE</button>
</div>
</form>
