<h1 class="container" style="color:rgb(204, 50, 199)">Check out our signers!!!</h1>

<div class="container">
    <h2>As of March 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> </h2>
</div>


{{> youtube}}

<div class="container">
<img src="https://i.gifer.com/origin/18/1816050fd6b00e00051bca8f9db913c4.gif" width=480 height=270.880 ></img>
</div>



{{#allSignInfo}}
<div class="box">
    <p><a href="{{url}}" target="_blank">{{first_name}} {{last_name}}</a> {{age}} <a href="/signers/{{city}}" target="_blank">{{city}}</a></p>
</div>
{{/allSignInfo}}
